.container{
    text-align: center;
}
.title p{
    color: gray;
    width: 70vw;
    margin: 20px auto;
    direction: rtl;
    text-align: justify;
}
.customers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}
.customer{
    width: 500px;
    padding: 10px;
    display: flex;
    margin: 20px auto;
    box-shadow: 1px 2px 2px black;
}
.comment{
    width: 60%;
    text-align: right;
    margin: 0 auto;
}
.comment p{
    direction: rtl;
    text-align: justify;
}
.image{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 0 auto;
}
.image img{
    width: 100px;
    height:100px;
    border-radius: 50%;
}
.icons img{
    margin: 10px;
}
@media(max-width: 600px) {
    .customers{
        display: flex;
        flex-wrap:wrap;
        padding: 30px;
    }
    .customer{
        width: 90vw;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        margin: 30px auto;
        box-shadow: 1px 2px 2px black;
    }
    .comment {
        width: 90%;
        direction: rtl;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
    }
    .image{
        
        margin-bottom: 30px;
    }
    .icons img{
        margin: 5px;
        width: 10vw;
        height: 10vw;
    }
}