.footer{
    background-image: url('/images/big-pic.png');
    width: 100%;
    height: 524px;
    backdrop-filter: blur(20px);
    color: white;
    text-align: center;
}

.section{
    background-color: rgba(0, 0, 0, 0.739);
    padding: 0 20px;
    height: 480px;
    align-content: center;
    padding-top: 200px;
}

    
.btns{
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.btns button:nth-child(1){
    width: 120px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0);
    border:1px solid white;
    color: white;
    
}
.btns button:nth-child(2){
    width: 120px;
    padding: 10px 20px;
    background-color: rgb(53, 89, 251);
    border:1px solid white;
    color: white;
}
.btns button:hover{
    cursor: pointer;
    box-shadow: 1px 2px 2px black;
    color: black;
}
.copyright{
    margin: 0 auto;
    background-color:rgb(71, 70, 70);
    text-align: center;
    height: 44px;
    vertical-align:middle;
    padding-top: 10px;
}
@media(max-width: 600px) {
    .footer{
        background-image: url('/images/big-pic-mobile.png');
        width: 100%;
        height: 380px;
        backdrop-filter: blur(20px);
        color: white;
        text-align: center;
    }
    .section{
        height: 380px;
        align-content: center;
        padding-top: 50px;
    }
    .btns{
        margin: 0 auto;
        display: flex;
    }
    .btns button:nth-child(1),
    .btns button:nth-child(2){
        font-size: 10px;
        width: 100px;
        padding: 5px;
    }
}