@import url('https://v1.fontapi.ir/css/Vazir');

*{
  box-sizing: border-box;
  font-family:'Vazir', sans-serif;
}
body{
  margin: 0;
}


.not-found{
  text-align: center;
}
.not-found a{
  box-shadow: 1px 2px 2px black;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.not-found a:hover{
  transform: scale(1.1);
  box-shadow:1px 2px 2px blue; ;
}