.nav{
    background-image: url('/images/big-pic.png');
    width: 100vw;
    height: 524px;
    backdrop-filter: blur(20px);
    color: white;
    text-align: center;
    
  }
.container{
    height: 100%;
    background-color: rgba(86, 76, 228, 0.698);
    align-content: center;
    padding-top: 150px;
}
.logo{
    margin: 0 auto ;
    width: 200px;
    text-align: center;
    position: relative;
    font-weight: lighter;
}
.logo h3{
    font-size: x-large;
    font-weight: 200;
}
.logo h6{
    font-weight: 200;
    margin-top: -30px;
}
.btns{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* background-color: red; */
}
.btns button:nth-child(1){
    width: 130px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0);
    border:1px solid white;
    color: white;

}
.btns button:nth-child(2){
    width: 130px;
    padding: 10px 20px;
    background-color: rgb(53, 89, 251);
    border:1px solid white;
    color: white;
}
.btns button:hover{
    cursor: pointer;
    box-shadow: 1px 2px 2px black;
    color: black;
}
@media(max-width: 600px) {
    .nav{
        height: 100vh;
        background-image: url('/images/big-pic-mobile.png');
    }
    .container{
        padding-top: 50px;
    }
    .nav h2, .nav p{
        width: 90vw;
        margin: 10px auto;
    }
    .btns{
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        padding: 0;
        width: 250px;
        font-size: smaller;
    }
    .btns button{
        width: 80px;
        height: 40px;
        margin: 5px;
        font-size: smaller;
    }
}
