.container{
    background-color: gray;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
}
.title{
    width: 50%;
    text-align: right;
    margin: 0 auto;
    color: white;
}
.title ul li{
    direction: rtl;
    text-align: justify;
    list-style-position: inside;
    margin: 0 5px;
}
.video{
    width: 40vw;
    height: 50vh;
    margin:0 auto;
    position: relative;
    border-radius: 10px;
    transition: 1s;
}
.video:hover{
    transform: scale(1.02);
    cursor: pointer;
}

@media(max-width: 760px) {
    .container{
        margin-top: 50px;
    }
    .title{
        width: 100%;
        text-align: right;
        margin: 0 auto;
        color: white;
    }
    .video{
        width: 100vw;
        height: 80vw;
        margin:0 auto;
        position: relative;
    }
    .container .video button{
        width: 20vw;
        height: 20vw;
        right: 30vw;
        top:30vw;
    }
}